{body
    background-color::cue-region


}
div{
width: 400px;
height: 200px;
background-color: rgb(10, 91, 172);
border-style :solid; 

background-color: rgb(115, 67, 8);
















}